* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

section {
    width: 600px;
    padding: 10px;
    height: 100dvh;
    margin-inline: auto;
    background-color: #fff;
}

.card3 .text-box
.card1 .text-box {
    gap: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: black;
}

.card1 .text-box::after {
    content: "";
    left: 23px;
    height: 20px;
    width: 20px;
    bottom: -5px;
    rotate: 45deg;
    position: absolute;
    background-color: black;
}

.text-box p {
    z-index: 1;
    color: white;
}

.card1 .profile {
    gap: 10px;
    display: flex;
    margin: 10px 0 0 8px;
    align-items: center;
}

.profile .image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.image .img {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.profile p {
    font-weight: 500;
}

.profile span {
    font-size: 12px;
}

.card1 .profile
.card2 .profile{
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
}

.card3 {
    gap: 20px;
    display: flex;
}

.card3 .image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.card3 .text-box {
    background-color: #383737;
}
















