.container {
    border: 0px; 
    padding: 20px;          
    width: 794px;   
    height: auto;     
    margin: 20px;            
    border-radius: 15px;      
    background-color: white; 
}
.first-box{
    background-color: black;
    color: white;
    padding: 20px;
    width: 300px;
    margin: 0px;
    text-align: left;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.circle{
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background-color: black;
    margin-top: 10px;
}
.second-box {
    position: absolute;     
    top: 20px;             
    right: 20px;
    background-color: white;
    border: 3px solid black;
    color:black;
    padding: 20px;
    width: 400px;  
    height: 150px;        
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.big-head{
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-color: black;
    margin-top: 10px;
} 
.third-box{
    background-color: black;
    color: white;
    padding: 20px;
    width: 300px;
    height:300px;
    margin: 10px;
    text-align: right;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.fourth-box{
    background-color:white; 
    color: black;
    padding: 20px;
    width: 1000px;
    height:500px;
    margin: 10px;
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
}
