* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #1e1e1e;
}

section {
    gap: 20px;
    width: 620px;
    padding: 10px;
    display: grid;
    margin-inline: auto;
    background-color: #fff;
    grid-template-columns: repeat(2, 1fr);
}

.card1 .text-box,
.card3 .text-box {
    gap: 20px;
    width: 100%;
    padding: 15px;
    display: flex;
    color:  white;
    position: relative;
    border-radius: 15px;
    flex-direction: column;
    background-color: #1e1e1e;
}

.card1 .text-box::after {
    content: "";
    left: 23px;
    width: 20px;
    height: 20px;
    bottom: -5px;
    rotate: 45deg;
    position: absolute;
    background-color: #1e1e1e;
}

.text-box p {
    z-index: 1;
}

.card2 {
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid #1e1e1e;
    justify-content: space-between;
}

.card1 .profile,
.card2 .profile {
    gap: 10px;
    display: flex;
    align-items: center;
    margin: 12px 0 0 8px;
}

.card3 .image,
.profile .image,
.carousel .image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.image img {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.profile p {
    font-weight: 500;
}

.profile span {
    font-size: 12px;
}

.card2 {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #1e1e1e;
}

.card3,
.card4 {
    grid-column: 1 / 3;
}
.card3 {
    gap: 10px;
    display: flex;
}

.card3 .image {
    width: 400px;
    height: 230px;
    border-radius: 15px;
}

.card3 .text-box {
    height: 230px;
}

.text-box h3 {
    font-size: 24px;
}

.text-box span {
    color: #929191;
}

.text-box p {
    font-size: 15px;
}
.card4 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

.card4 p {
 text-align: center;
}

.card4 .carousel {
    display: flex;
    align-items: center;
}
.carousel .image:not(:nth-child(2)) {
    width: 40px;
    height: 40px;
    opacity: 0.4;
}